# If you want some example snippets, check out:
# https://github.com/atom/language-gfm/blob/master/snippets/gfm.cson
'*':
  'ACTIONMENU LABEL':
      'prefix': 'ACL'
      'body': 'ACTIONMENU LABEL'
  'DESCRIPTION OF SCREEN':
      'prefix': 'DOS'
      'body': 'DESCRIPTION OF SCREEN'
  'GLOBAL TEMPORARY':
      'prefix': 'GT'
      'body': 'GLOBAL TEMPORARY'
  'ACTION DESIGNER NAME':
      'prefix': 'ADN'
      'body': 'ACTION DESIGNER NAME'
  'ACTION DESIGNER':
      'prefix': 'AD'
      'body': 'ACTION DESIGNER'
  'SET REPORT DEVICE PRINTER':
      'prefix': 'SRDP'
      'body': 'SET REPORT DEVICE PRINTER'
  'SORT ON NAME OF':
      'prefix': 'SONO'
      'body': 'SORT ON NAME OF'
  'ON NAME OF':
      'prefix': 'ONO'
      'body': 'ON NAME OF'
  'SET REPORT NOLIMIT':
      'prefix': 'SRN'
      'body': 'SET REPORT NOLIMIT'
